@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  Subjectify</h1>
    <p>The platform for finding information about subjects in Faculties</p>
</div>